<!DOCTYPE html>
<html>
<head>
  <title>Baby8Ball</title>
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700|Luckiest+Guy|Nixie+One|Codystar|Delius+Unicase' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="app_header">Baby<a href="/"><img src="/images/ball.png" width="105" height="105"></a>Ball</header>

  <div class="main">
    <%= yield %>

    <footer>
      <div class="footer">
        <p>baby<img src="/images/ball.png" width="15" height="15">ball</p>
        <p>a project by lauren spath luhring</p>
      </div>
    </footer>
  </div>
</body>
</html>
